[submodule "libs/ark-debug-libs"]
	path = libs/ark-debug-libs
	url = https://github.com/PSP-Arkfive/ark-debug-libs.git
[submodule "core/SystemCOntrol"]
	path = core/SystemCOntrol
	url = https://github.com/PSP-Arkfive/SystemControl.git
[submodule "core/SystemControl"]
	path = core/SystemControl
	url = https://github.com/PSP-Arkfive/SystemControl.git
[submodule "libs/ark-dev-sdk"]
	path = libs/ark-dev-sdk
	url = https://github.com/PSP-Arkfive/ark-dev-sdk.git
[submodule "core/Inferno"]
	path = core/Inferno
	url = https://github.com/PSP-Arkfive/Inferno2.git
[submodule "core/PopCorn"]
	path = core/PopCorn
	url = https://github.com/PSP-Arkfive/PopCorn.git
[submodule "core/Stargate"]
	path = core/Stargate
	url = https://github.com/PSP-Arkfive/Stargate.git
[submodule "core/VSHControl"]
	path = core/VSHControl
	url = https://github.com/PSP-Arkfive/VSHControl.git
[submodule "core/Compat/PSP"]
	path = core/Compat/PSP
	url = https://github.com/PSP-Arkfive/PSPCompat.git
[submodule "libs/BootLoadEx"]
	path = libs/BootLoadEx
	url = https://github.com/PSP-Arkfive/BootLoadEx.git
[submodule "core/Compat/ePSP"]
	path = core/Compat/ePSP
	url = https://github.com/PSP-Arkfive/VitaCompat.git
