[submodule "libs/ark-debug-libs"]
	path = libs/ark-debug-libs
	url = https://github.com/PSP-Arkfive/ark-debug-libs.git
[submodule "core/SystemCOntrol"]
	path = core/SystemCOntrol
	url = https://github.com/PSP-Arkfive/SystemControl.git
[submodule "core/SystemControl"]
	path = core/SystemControl
	url = https://github.com/PSP-Arkfive/SystemControl.git
[submodule "libs/ark-dev-sdk"]
	path = libs/ark-dev-sdk
	url = https://github.com/PSP-Arkfive/ark-dev-sdk.git
[submodule "core/Inferno"]
	path = core/Inferno
	url = https://github.com/PSP-Arkfive/Inferno2.git
