[submodule "libs/ark-debug-libs"]
	path = libs/ark-debug-libs
	url = https://github.com/PSP-Arkfive/ark-debug-libs.git
[submodule "core/SystemCOntrol"]
	path = core/SystemCOntrol
	url = https://github.com/PSP-Arkfive/SystemControl.git
[submodule "core/SystemControl"]
	path = core/SystemControl
	url = https://github.com/PSP-Arkfive/SystemControl.git
